// VARIABLES

$light-grey: #898989;
$purple: #854dff;

//

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f0;
  height: 100%;
  font-family: "Poppins", Arial, sans-serif;
  height: 100%;
  min-height: 660px;

  #container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 90%;
    width: 800px;
    height: 600px;
    border-radius: 30px 30px 170px 30px;
    background: #fff;
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.05);
    padding: 3em 2.5em;

    form {
      position: relative;
      padding: 0 0 40px 0;

      &:before {
        position: absolute;
        content: "";
        background: rgba($light-grey, 0.4);
        width: 90%;
        height: 1px;
        bottom: 0;
        left: 0;
      }

      .day-input,
      .month-input,
      .year-input {
        position: relative;
        display: inline-block;
        margin: 0 25px 0 0;

        label {
          display: block;
        }
      }

      label {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 700;
        letter-spacing: 3px;
        color: $light-grey;
        margin: 0 0 5px 2px;
      }

      input {
        font-size: 32px;
        font-weight: 800;
        width: 4.5em;
        padding: 5px 7px;
        border-radius: 7px;
        border: 1px solid darken(#f0f0f0, 2%);

        &::placeholder {
          color: $light-grey;
        }
      }

      button.submit {
        background: $purple;
        height: 85px;
        width: 85px;
        border-radius: 50%;
        border: none;
        transition: 0.2s;
        position: absolute;
        right: 20px;
        top: 80px;

        svg {
          transition: 0.2s;
        }

        &:hover {
          cursor: pointer;

          svg {
            transform: rotate(-10deg);
          }
        }

        svg {
        }
      }
    }

    #result {
      margin: 40px 0 0 0;

      #year-result,
      #month-result,
      #day-result {
        p {
          font-weight: 900;
          font-style: italic;
          font-size: 100px;
          line-height: 1;

          span {
            color: $purple;
          }
        }
      }
    }
  }
}
